## Part A- Data Preprocessing

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv('diabetes.csv')
print("top 5  of the data set is - ")
df.head()

top 5  of the data set is -

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
print("bottom 5  of the data set is - ")
df.tail()

bottom 5  of the data set is -

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
print("bottom 5  of the data set is - ")
df.tail()

bottom 5  of the data set is -

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
print("data info is - ")
df.info()

data info is -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
print("description data set is - ")
df.describe()

description data set is -

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
print("null value count from the dataset- ")
df.isnull().sum()

null value count from the dataset-

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
print("mean of the data set is - ")
df.mean()

mean of the data set is -

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [12]:
print("mediam of the data set is - ")
df.median()

mediam of the data set is -

Pregnancies                   3.0000
Glucose                     117.0000
BloodPressure                72.0000
SkinThickness                23.0000
Insulin                      30.5000
BMI                          32.0000
DiabetesPedigreeFunction      0.3725
Age                          29.0000
Outcome                       0.0000
dtype: float64

In [13]:
print("mode of the data set is - ")
df.mode()

mode of the data set is -

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1.0,99,70.0,0.0,0.0,32.0,0.254,22.0,0.0
1,NaN,100,NaN,NaN,NaN,NaN,0.258,NaN,NaN

In [14]:
print("standard deviation of the data set is - ")
df.std()

standard deviation of the data set is -

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

##Part B: Logistic Regression
Train a Logistic Regression model using the training data.

Predict on the test set.

Calculate and interpret the following metrics:

Accuracy

Precision, Recall, F1-score

Confusion Matrix

ROC Curve & AUC Score

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_curve, auc

X=df.drop('Outcome', axis=1)
y=df['Outcome']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

linear_model=LinearRegression()
linear_model.fit(X_train, y_train)
y_pred=linear_model.predict(X_test)

print(y_pred)

[ 3.34239033e-01  2.42961890e-01  1.68399711e-01  2.21291852e-01
  5.00550109e-01  4.66532590e-01 -1.89737965e-01  5.60629498e-01
  5.34971620e-01  7.22263639e-01  3.04886392e-01  8.59871606e-01
  4.26983339e-01  3.40606944e-01  6.69993960e-02  3.92613621e-01
  1.73111271e-01  7.02574769e-02  7.85609433e-01  5.38946512e-01
  2.91733834e-01  8.82754471e-02  4.74099761e-01  1.21030870e-01
  5.22008382e-01  8.22819970e-01  1.57405210e-01 -5.20608430e-02
  3.20028596e-01  1.65065437e-01  8.44253112e-01  8.19706079e-01
  7.24526601e-01  7.28966795e-01  5.75505721e-01  6.13538238e-01
  9.94389632e-01  2.92293671e-01  4.99381322e-01  6.32020668e-01
  5.89489879e-02  5.60639095e-01  5.32420746e-01  3.66024287e-01
 -6.56545824e-02  5.11143738e-01  5.62802579e-01  2.63334750e-01
  3.96697267e-01  1.01672022e+00 -6.63856992e-04  6.10314070e-01
  7.53887315e-01  3.17208324e-01  1.63817579e-01 -3.28679972e-02
  7.22703016e-01 -3.64570182e-01  4.12494936e-01  6.97455712e-01
  6.51421330e-01  3.79574715e-01  3.31531421e-01  2.83803448e-01
  9.58310999e-02  5.53422135e-01 -8.06453491e-04  6.82982643e-01
 -2.51420761e-02  7.05496268e-01  6.32653334e-01  6.91609605e-02
  2.55009014e-01  1.60979385e-01  1.23867666e-01  5.04226361e-01
  2.40821873e-01  1.70430645e-01  1.97719282e-01  3.18724683e-01
  6.06670242e-01  1.87192359e-01  3.87305665e-02  4.23119133e-01
  3.17549354e-01  7.92607900e-01  8.31339236e-01  3.63014057e-01
  1.62836868e-01  1.03834341e-01  5.27295831e-02  3.07396415e-01
 -4.13262699e-01  4.96156282e-01  4.93400314e-01  5.71580603e-01
  3.94616000e-01  1.57880623e-01  6.13709102e-01  9.66878474e-02
  6.58130440e-01  4.34721380e-02  6.92515868e-01  5.14909906e-01
  5.93142934e-01  2.96031629e-01  3.14235258e-01  6.63726359e-01
  1.44370960e-01  4.74828818e-01  1.09241144e-01  4.02761563e-01
 -1.62975061e-01  6.96690355e-01  2.49079091e-01  3.56833785e-01
  6.56669518e-01  2.85173613e-01  5.06269194e-02  5.11202810e-01
  4.94343801e-02  3.11599376e-01  2.86932867e-01  6.12479920e-02
  3.44919632e-01  4.42723633e-01 -4.41977893e-02  7.88088709e-01
  1.01125588e+00  6.65983550e-01  6.38063987e-01  7.77531222e-01
  1.17126115e-01  4.49137058e-01  7.42140486e-01  1.71019231e-01
  2.28428731e-01  8.06152111e-01  7.24100473e-01 -2.16341432e-01
  1.18222991e-01 -1.87072481e-02  2.94237078e-01  4.57391015e-01
  1.76625600e-01  3.15463602e-01  1.58153010e-01 -1.39718535e-01
  4.26544459e-01  6.96996123e-01  1.19333595e-01  4.80435169e-01
  3.39032073e-01  2.25973958e-01 -3.47384976e-01  4.39007249e-01
  3.61345298e-01  6.17365966e-01  6.81621848e-01  2.08785783e-01
  4.90690613e-01  6.04695457e-01  2.45630487e-01 -1.67898445e-01
  1.62183647e-01  7.96164212e-01  7.26894961e-03  3.58265528e-01
  7.20194625e-01  5.10730748e-01  5.80141880e-01  2.32098585e-01
  3.88002567e-01  6.50191059e-01  5.93747730e-01  1.13205060e-01
  3.56139939e-01  3.24276495e-01  2.91856507e-01  3.65897168e-01
  5.23018887e-01  5.46767289e-01  4.17554663e-01  6.72989248e-01
  5.69410968e-01  1.13307552e-01 -8.61951438e-03  1.66563916e-01
  7.92068479e-01  4.04964035e-01  5.09851992e-02  1.12513123e-01
  8.11048695e-01  3.17494027e-01  9.06813790e-02  2.83704029e-02
 -3.76645901e-01  6.15405830e-02  2.93667593e-01  6.26199301e-01
  1.86910433e-01  1.54960390e-01  3.92724178e-01  3.26937358e-01
  6.14170586e-01  1.15839276e-01  1.28635540e-01  3.10222260e-01
  8.55666690e-01  5.78347635e-01  3.34787088e-01  2.69916777e-01
  1.96538175e-01  1.64891663e-01  6.60882266e-01  1.15264433e-01
  7.18687701e-01  3.40521163e-01  3.88374046e-01  8.10578489e-01
  5.62208747e-01  1.44412819e-01  8.62238566e-02  2.25401480e-01
  6.54568412e-02  6.58956242e-01  3.66514523e-01  3.18938601e-01
  3.44768145e-01  2.57786798e-01  1.39321195e-01]